APP_NAME=learnalgorithm
FRONTEND_PORT=3000
BACKEND_PORT=8000
POSTGRES_PORT=5432
REDIS_PORT=6379
POSTGRES_USER=algolearn
POSTGRES_PASSWORD=algolearn
POSTGRES_DB=algolearn
ADMIN_TOKEN=local-admin-token
PISTON_URL=https://emkc.org/api/v2/piston/execute
IMAGE_TAG=local
IMAGE_REGISTRY=
